<section id="faq" class="faq pt-20 pb-1 bg-secondary overflow-hidden">
  <div class="container">

    <app-title [text]="title"></app-title>

    <div class="mb-7 pl-10">
      <div class="faq__title text-2xl font-Oswald uppercase mb-5 relative">
        what shipping company do you ship to?
      </div>
      <p>
        Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla
        lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla
        porttitor lorem eros vel.
      </p>
    </div>
    <div class="mb-7 pl-10">
      <div class="faq__title text-2xl font-Oswald uppercase mb-5 relative">
        what are the shelf life of products if they come from siberia?
      </div>
      <p>
        Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla
        lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla
        porttitor lorem eros vel.
      </p>
    </div>
    <div class="mb-7 pl-10">
      <div class="faq__title text-2xl font-Oswald uppercase mb-5 relative">
        Are there certificates of product compliance? (Question in general about documents)
      </div>
      <p>
        Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla
        lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla
        porttitor lorem eros vel.
      </p>
    </div>
    <div class="mb-7 pl-10">
      <div class="faq__title text-2xl font-Oswald uppercase mb-5 relative">
        Is there an allergy to pine nuts?
      </div>
      <p>
        Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla
        lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla
        porttitor lorem eros vel.
      </p>
    </div>

  </div>
</section>
