<section class="special h-[350px] relative overflow-hidden bg-fixed bg-cover flex items-center">
  <div class="container">
    <div class="special__block flex flex-col justify-center items-center">
      <div class="special__title text-5xl uppercase text-center text-bgButton font-Oswald mb-8">
        special
      </div>
      <div class="auth__description font-montserrat mb-12 max-w-[650px] text-center text-third">
        <div>
          (This is an example. You need a real offer.)
        </div>
        <div>
          Sign up for pine nut kernel and with every 5th pack we'll give you
        </div>
        <div>
          natural Siberian berry marmalade
        </div>
      </div>
    </div>
  </div>
</section>
