<swiper [config]="swiperConfig">
  <ng-template swiperSlide>
    <div class="slide">
      <div class="slide__comment p-5 bg-third relative mb-5">
        <p class="mb-5">
          I usually always look at the composition of the products I buy. This candy has an excellent composition. Rare
          for our time.
        </p>
        <p class="mb-5">
          Pine nuts - just a miracle! Tastier than almonds, more interesting than hazelnuts, and certainly healthier
          than
          peanuts.
        </p>

        <p>
          I will definitely try something else from this store.
        </p>
      </div>
      <div class="flex gap-5 items-center">
        <img src="../../../../assets/img/reviews/author_2.jpg" alt="" class="w-[80px] h-[80px] rounded-full">
        <span class="font-Oswald font-semibold uppercase">Adam</span>
      </div>
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="slide">
      <div class="slide__comment p-5 bg-third relative mb-5">
        Mainly I make apple juice. Juice goes straight to the glass, it is convenient, no overflow. No knocking or
        clanging, no extraneous odors. Doesn't heat up.
      </div>
      <div class="flex gap-5 items-center">
        <img src="../../../../assets/img/reviews/author_3.jpg" alt="" class="w-[80px] h-[80px] rounded-full">
        <span class="font-Oswald font-semibold uppercase">Kevin</span>
      </div>
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="slide">
      <div class="slide__comment p-5 bg-third relative mb-5">
        Juice squeezes skillfully and quickly, the sound is not annoying. It is quite easy to wash, it does not take
        much space in the kitchen. The power is good, I like the design of the body, the price is reasonable.
      </div>
      <div class="flex gap-5 items-center">
        <img src="../../../../assets/img/reviews/author_1.jpg" alt="" class="w-[80px] h-[80px] rounded-full">
        <span class="font-Oswald font-semibold uppercase">Scarlett</span>
      </div>

    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="slide">
      <div class="slide__comment p-5 bg-third relative mb-5">
        <p class="mb-5">
          I usually always look at the composition of the products I buy. This candy has an excellent composition. Rare
          for our time.
          Pine nuts - just a miracle! Tastier than almonds, more interesting than hazelnuts, and certainly healthier
          than peanuts.
        </p>
        <p>
          I will definitely try something else from this store.
        </p>
      </div>
      <div class="flex gap-5 items-center">
        <img src="../../../../assets/img/reviews/author_4.jpg" alt="" class="w-[80px] h-[80px] rounded-full">
        <span class="font-Oswald font-semibold uppercase">Robert</span>
      </div>
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="slide">
      <div class="slide__comment p-5 bg-third relative mb-5">
        <p class="mb-5">
          I usually always look at the composition of the products I buy. This candy has an excellent composition. Rare
          for our time.
        </p>
        <p class="mb-5">
          Pine nuts - just a miracle! Tastier than almonds, more interesting than hazelnuts, and certainly healthier
          than
          peanuts.
        </p>

        <p>
          I will definitely try something else from this store.
        </p>
      </div>
      <div class="flex gap-5 items-center">
        <img src="../../../../assets/img/reviews/author_5.png" alt="" class="w-[80px] h-[80px] rounded-full">
        <span class="font-Oswald font-semibold uppercase">Pamela</span>
      </div>
    </div>
  </ng-template>

</swiper>
