.slide {
  &__comment {
    &:after {
      content: "";
      position: absolute;
      left: 50px;
      bottom: -15px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 15px 0 0;
      border-color: #fff transparent transparent transparent;
      filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.05));
    }
  }

}
