<section class="main h-screen overflow-hidden bg-fixed bg-cover bg-[center_right] md:bg-center text-white">

  <div id="top" class="main__block flex flex-col justify-center items-center" [@title]="titleState">
    <div class="main__title text-[56px] uppercase max-w-5xl text-center font-Oswald mb-8">
      E-shop of natural sweets from Siberia
    </div>
    <div class="main__description font-montserrat mb-12">
      Don't be eaten by siberian candies. Eat it first!
    </div>

    <app-button
      class="h-14 min-w-[120px]"
      [text]="textBtn"
      [typeComponent]='typeComponent'
      (handleClick)="showModalForm()"
    ></app-button>

  </div>

  <app-form-auth
    *ngIf="modalForm"
    (close)="hideModalForm()"
    data-aos-duration="200"
  ></app-form-auth>
</section>

<app-suggestions></app-suggestions>
<app-catalog></app-catalog>
<div class="main__paralax bg-fixed bg-cover">
  <app-special></app-special>
  <app-manufacture></app-manufacture>
  <app-delivery></app-delivery>
  <app-faq></app-faq>
  <app-reviews></app-reviews>
  <app-feedback></app-feedback>
</div>






