.main{
  background-image: url('../../../assets/bg/auth_bg-d.jpg');
  @media (max-width: 768px) {
    background-image: url('../../../assets/bg/auth_bg-m.jpg');
  }
  &__block {
    height: calc(100vh - 104px);
  }
  &__paralax {
    background-image: url('../../../assets/bg/back_m_3_2_1.jpg');
  }
}
