<section id="about-us" class="suggestions mb-20">
  <div class="container">

    <app-title [text]="title"></app-title>

    <div class="flex justify-center font-montserrat mb-10" data-aos="fade-up">
      <div class="text-center max-w-[628px]">
        We offer healthy sweets based on pine nuts and wild forest berries straight from Siberia.
      </div>
    </div>

    <div class="flex flex-wrap mb-20">
      <div class="suggestions__card w-1/4 min-h-[460px] lg:w-1/2 lg:mb-[-1px] bg-white sm:w-full sm:mb-5 p-11 flex flex-col items-center border
      border-lightGray mr-[-1px] hover:border-b-2 hover:border-b-lime-500 hover:pt-5 hover:cursor-pointer"
           data-aos="flip-left"
      >
        <div class="mb-5">
          <svg-icon src="assets/icons/avatar.svg"></svg-icon>
        </div>
        <div class="text-5 font-Oswald mb-2.5 text-lg">
          DIRECTLY FROM SIBERIA
        </div>
        <div class="font-montserrat">
          We import products in the U.S. directly from the manufacturer - Siberian Cedar Eco-Factory. This guarantees
          its freshness!
        </div>
      </div>

      <div class="suggestions__card w-1/4 min-h-[460px] lg:w-1/2 lg:mb-[-1px] bg-white sm:w-full sm:mb-5 p-11
      flex flex-col items-center border border-lightGray mr-[-1px] hover:border-b-2 hover:border-b-lime-500 hover:pt-5
      hover:cursor-pointer duration-1000"
           data-aos="flip-right"
      >
        <div class="mb-5">
          <svg-icon src="assets/icons/avatar.svg"></svg-icon>
        </div>
        <div class="text-5 font-Oswald mb-2.5 text-lg">
          NATURAL INGREDIENTS
        </div>
        <div class="font-montserrat">
          All "Siberian Cedar" products consist of simple, straightforward and completely natural ingredients. That is
          why the shelf life of 95% of all products does not exceed 6 months
        </div>
      </div>
      <div class="suggestions__card w-1/4 min-h-[460px] lg:w-1/2 bg-white sm:w-full sm:mb-5 p-11 flex flex-col items-center border
      border-lightGray mr-[-1px] hover:border-b-2 hover:border-b-lime-500 hover:pt-5 hover:cursor-pointer"
           data-aos="flip-left"
      >
        <div class="mb-5">
          <svg-icon src="assets/icons/avatar.svg"></svg-icon>
        </div>
        <div class="text-5 font-Oswald mb-2.5 text-lg">
          WIDE RANGE OF GOODS
        </div>
        <div class="font-montserrat">
          ВThere are more than 150 items in our store. There is always something to surprise yourself and your loved ones.
        </div>
      </div>
      <div class="suggestions__card w-1/4 min-h-[460px] lg:w-1/2 bg-white sm:w-full p-11 flex flex-col items-center border border-lightGray
      hover:border-b-2 hover:border-b-lime-500 hover:pt-5 hover:cursor-pointer"
           data-aos="flip-right"
      >
        <div class="mb-5">
          <svg-icon src="assets/icons/avatar.svg"></svg-icon>
        </div>
        <div class="text-5 font-Oswald mb-2.5 text-lg">
          BEST GIFT
        </div>
        <div class="font-montserrat">
          There are more than 150 items in our store. There is always something to surprise yourself and your loved ones.
        </div>
      </div>
    </div>

    <app-slider-suggestions data-aos="fade-up"></app-slider-suggestions>

  </div>
</section>
