<section class="auth h-screen md:bg-center mb-20 text-primary"
         data-aos="fade-left"
         data-aos-anchor="#example-anchor"
         data-aos-offset="500"
         data-aos-duration="500"
>

  <app-header class="absolute z-10"></app-header>

  <div class="container auth__block flex flex-col justify-center items-center">
    <div>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
      используют
      потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и
      пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш
      текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
      умолчанию,
      так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
      настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по
      ошибке,
      некоторые - намеренно (например, юмористические варианты).
    </div>
    <div>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
      используют
      потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и
      пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш
      текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
      умолчанию,
      так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
      настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по
      ошибке,
      некоторые - намеренно (например, юмористические варианты).
    </div>
    <div>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
      используют
      потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и
      пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш
      текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
      умолчанию,
      так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
      настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по
      ошибке,
      некоторые - намеренно (например, юмористические варианты).
    </div>
    <div>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
      используют
      потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и
      пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш
      текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
      умолчанию,
      так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
      настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по
      ошибке,
      некоторые - намеренно (например, юмористические варианты).
    </div>
    <div>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
      используют
      потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и
      пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш
      текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
      умолчанию,
      так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
      настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по
      ошибке,
      некоторые - намеренно (например, юмористические варианты).
    </div>
    <div>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
      используют
      потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и
      пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш
      текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
      умолчанию,
      так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
      настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по
      ошибке,
      некоторые - намеренно (например, юмористические варианты).
    </div>
    <div>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
      используют
      потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и
      пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш
      текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
      умолчанию,
      так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
      настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по
      ошибке,
      некоторые - намеренно (например, юмористические варианты).
    </div>
    <div>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
      используют
      потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и
      пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш
      текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
      умолчанию,
      так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
      настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по
      ошибке,
      некоторые - намеренно (например, юмористические варианты).
    </div>
    <div>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
      используют
      потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и
      пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш
      текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по
      умолчанию,
      так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
      настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по
      ошибке,
      некоторые - намеренно (например, юмористические варианты).
    </div>
  </div>
</section>
