<section id="feedback" class="delivery pt-20 pb-10 bg-secondary">
  <div class="container">

    <app-title [text]="title"></app-title>

    <p class="text-xl mb-10" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">
      We appreciate and respect nature - the source of our inspiration, strength and, of course, natural raw materials
      for "Siberian Cedar" products. But if the source is not replenished, it will dry up. The mission of our company is
      to restore Siberia's deforested forests.
    </p>

    <div class="mb-20 grid grid-cols-gridColDelivery gap-10 md:gap-5">
      <div class="p-6 flex flex-col border-2 border-t-lime-500 border-l-0 border-r-0 border-b-gray xlg:border-b-0"
           data-aos="fade-up"
      >
        <div class="font-Oswald mb-2.5 text-3xl uppercase mb-5 tracking-wide w-3/5 leading-10">
          More than 15,000 trees planted in 2021
        </div>
        <div class="font-montserrat leading-8 text-lg">
          Every year we increase the number of trees planted. In 2021 Tomsk volunteers and employees of Siberian Cedar
          planted more than 15,000 trees. More to come!
        </div>
      </div>
      <div class="p-6 flex flex-col border-2 border-t-lime-500 border-l-0 border-r-0 border-b-gray xlg:border-b-0"
           data-aos="fade-up" data-aos-delay="700"
      >
        <div class="font-Oswald mb-2.5 text-3xl uppercase mb-5 tracking-wide w-3/5 leading-10">
          Established their own cedar nursery
        </div>
        <div class="font-montserrat leading-8 text-lg">
          We created our own nursery on the territory of the production facility. Cedar sprouts grown there will become
          the basis for future plantings.
        </div>
      </div>
      <div class="p-6 flex flex-col border-2 border-t-lime-500 border-l-0 border-r-0 border-b-gray xlg:border-b-0"
           data-aos="fade-up" data-aos-delay="900"
      >
        <div class="font-Oswald mb-2.5 text-3xl uppercase mb-5 tracking-wide w-3/5 leading-10">
          Restoring forests together
        </div>
        <div class="font-montserrat leading-8 text-lg">
          We opened an NGO and, together with the Department of Forestry of the Tomsk region, actively engaged in
          reforestation. In the near future we plan to enter other regions of Russia
        </div>
      </div>
    </div>

  </div>

</section>
