<section class="delivery mb-20 border-b border-gray">
  <div class="container">

    <app-title [text]="title"></app-title>
    <div class="mb-20 grid grid-cols-gridColDelivery gap-11 md:gap-5 pl-12">
      <div
        class="delivery__card bg-third p-14 flex flex-col items-center relative"
        (mouseenter)="onEvent($event)"
        (mouseleave)="offEvent($event)"
      >
        <div class="text-5 font-Oswald mb-2.5 text-lg">
          ORDER ONLINE
        </div>
        <div class="font-montserrat">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </div>

        <div
          class="delivery__icon-order-front absolute -left-11 top-1/2 -translate-y-1/2 w-20 h-20
          rounded-full bg-secondary flex justify-center items-center transition duration-300"
        >
          <img src="assets/img/delivery/shopping-bag.png">
        </div>

        <div
          class="delivery__icon-order-back absolute -left-11 top-1/2 -translate-y-1/2 w-20 h-20
          rounded-full bg-secondary flex justify-center items-center transition duration-300"
        >
          <img src="assets/img/delivery/shopping-bag_2.png">
        </div>

<!--        <div-->
<!--          class="delivery__icon-order-back absolute -left-11 top-1/2 -translate-y-1/2 w-20 h-20-->
<!--          rounded-full bg-secondary overflow-hidden transition duration-300"-->
<!--        >-->
<!--          <img src="assets/img/delivery/shopping-bag_2.png">-->
<!--        </div>-->


        <!--        <div-->
        <!--          class="delivery__icon-order mb-5 absolute -left-[45px] top-1/2 -translate-y-1/2 w-[85px] h-[85px]-->
        <!--          rounded-full bg-secondary bg-auto bg-no-repeat bg-center"-->
        <!--        >-->
        <!--          <img src="assets/img/delivery/shopping-bag.png">-->
        <!--        </div>-->

        <!--        <div-->
        <!--          class="delivery__icon-order mb-5 absolute -left-[45px] top-1/2 -translate-y-1/2 w-[85px] h-[85px]-->
        <!--          rounded-full bg-secondary bg-auto bg-no-repeat bg-center"-->
        <!--        >-->
        <!--          <img src="assets/img/delivery/phone.png">-->
        <!--        </div>-->
      </div>
      <div class="bg-third p-14 flex flex-col items-center relative">
        <div class="text-5 font-Oswald mb-2.5 text-lg">
          ORDER ONLINE
        </div>
        <div class="font-montserrat">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </div>

        <div
          class="delivery__icon-wallet mb-5 absolute -left-[45px] top-1/2 -translate-y-1/2 w-[85px] h-[85px] rounded-full bg-secondary flex justify-center items-center">
          <!--          <img src="assets/img/delivery/wallet-money.png">-->
        </div>
      </div>
      <div class="bg-third p-14 flex flex-col items-center relative">
        <div class="text-5 font-Oswald mb-2.5 text-lg">
          ORDER ONLINE
        </div>
        <div class="font-montserrat">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </div>

        <div
          class="delivery__icon-delivery mb-5 absolute -left-[45px] top-1/2 -translate-y-1/2 w-[85px] h-[85px] rounded-full bg-secondary flex justify-center items-center">
          <!--          <img src="assets/img/delivery/delivery.png">-->
        </div>
      </div>
    </div>

  </div>
</section>

