.delivery {
  &__icon-front {
    backface-visibility: hidden;
    transform: translateY(-50%);
  }
  &__icon-back {
    transform: rotateY(180deg) translateY(-50%);
    backface-visibility: hidden;
  }

  &__card:hover &__icon-front {
    transform: rotateY(180deg) translateY(-50%);
  }
  &__card:hover &__icon-back {
    transform: rotateY(360deg) translateY(-50%);
  }
}
