@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Oswald:wght@400;500;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/scss';
@import "~@ng-select/ng-select/themes/default.theme.css";

@layer base {
  body {
    margin: 0 auto;
    color: #333;
    background: #f7f7f7;
  }
}
@layer components {
  .container {
    @apply max-w-[1240px]
  }
}

::-webkit-scrollbar {
  width: 0;
}

/* Select */

.ng-select .ng-select-container {
  border: none;
}

/* Pagination */

.ngx-pagination {
  border: 2px solid #a10f2b;
  border-radius: 7px;
  height: 44px;
  display: flex;
  justify-items: center;
  align-items: center;
  & .pagination-next a:after {
    margin-left: 0 !important;
    font-size: 26px !important;
  }
  & .pagination-previous a:before {
    margin-right: 0 !important;
    font-size: 26px !important;
  }
    & li {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.ng-star-inserted {
  font-size: 20px;
  //font-family: 'Montserrat';
    transition: background .5s;
  a {
    height: 40px;
    width: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  & .current {
    background: #a10f2b !important;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pagination-next {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
  border-left: 2px solid #a10f2b;
  transition: transrorm .3s;
  & a {
    transition: all .3s;
    &:after {
      color: #a10f2b;
      margin-bottom: 6px;
    }
    &:hover {
      background: #a10f2b !important;
      border-radius: 0 4px 4px 0;
      color: #ffffff;
      &:after {
        color: white;
        font-size: 20px;
      }
    }
  }
  &.disabled {
    display: none;
  }
}

.pagination-previous {
  border-right: 2px solid #a10f2b;
  display: flex;
  align-items: center;
  justify-content: center;
  & a {
    transition: all .3s;
    &:before {
      color: #a10f2b;
      margin-bottom: 6px;
    }
    &:hover {
      background: #a10f2b !important;
      border-radius: 4px 0 0 4px;
      color: #ffffff;
    }
  }
  &.disabled {
    display: none;
  }
}

