<div id="special" class="bg-white"></div>
<section class="special h-[350px] sm:h-[420px] relative overflow-hidden bg-fixed bg-cover flex items-center">
  <div class="container">
    <div class="special__block flex flex-col justify-center items-center">
      <div class="special__title text-5xl uppercase text-center text-bgButton font-Oswald mb-8"
           data-aos="fade-right"
           data-aos-offset="500"
           data-aos-duration="800"
      >
        special
      </div>
      <div class="font-montserrat text-base mb-12 max-w-[650px] text-center text-white"
           data-aos="fade-left"
           data-aos-offset="500"
           data-aos-duration="800"
      >
        <div>
          (This is an example. You need a real offer.)
        </div>
        <div>
          Sign up for pine nut kernel and with every 5th pack we'll give you
        </div>
        <div>
          natural Siberian berry marmalade
        </div>
      </div>
      <app-button class="h-14 min-w-[120px]" [text]="text"></app-button>
    </div>
  </div>
</section>
