<div
  class="header fixed w-full transition-all duration-500"
  [class.active]="mobileMenu"
  [class.bg-white]="headerTop || currentRout !== '/'"
  [class.drop-shadow-xl]="headerTop  || currentRout !== '/'"
>

  <!--  <app-error></app-error>-->

  <!--<div
    *ngIf="errorService.error$ | async as error"
    class="h-[50px] flex justify-center items-center bg-red-600 text-white"
    [@error]="errorState"
  >
    {{error}}
  </div>-->


  <div class="container py-5">

    <nav class="header__desktop flex justify-between items-center gap-5">

      <a routerLink="/"
         class="header__logo"
         (click)="scrollPageTo(topScroll)"
      >
        <svg-icon src="assets/logo.svg"
                  class="{{headerTop ? 'logoBlack' : 'logoWhite'}}"
                  [class.logoBlack]="currentRout !== '/'"
        ></svg-icon>
      </a>

      <!--Menu-->
      <div
        *ngFor="let anchor of headerLinks"
        class="header__links flex gap-5 uppercase font-montserrat font-semibold md:hidden
        {{headerTop ? 'text-primary' : 'text-white'}}"
        [class.color]="currentRout !== '/'"
      >
        <a *ngIf="currentRout === '/' else anchorsNotMain"
          (click)="scrollPageTo(anchor)"
        >{{anchor}}</a>
        <ng-template #anchorsNotMain>
          <a
             [routerLink]='"."'
             [fragment]="anchor"
          >{{anchor}}</a>
        </ng-template>
      </div>

      <!--Icons-->
      <div class="header__icons flex gap-5 {{headerTop ? 'dark' : 'light' }}">

        <div
          *ngIf="countProducts$ | async as countProducts"
          class="relative {{headerTop ? 'fill-primary' : 'fill-white' }}"
          data-aos="zoom-in"
          data-aos-duration="200"
        >
          <a routerLink="/cart">
            <svg-icon src="assets/icons/cart.svg"
                      class="md:fill-white"
                      [class.fill-primary]="currentRout !== '/'"
            ></svg-icon>
          </a>
          <div
            class="absolute text-lg w-7 h-7 rounded-full bg-red-600 flex justify-center items-center bottom-0 right-0 text-white">
            {{countProducts}}
          </div>
        </div>
        <a routerLink="/">
          <svg-icon src="assets/icons/avatar.svg"
                    class="md:fill-white"
                    [class.fill-primary]="currentRout !== '/'"
          ></svg-icon>
        </a>
      </div>

      <!--Burger-->
      <div class="header__icon-burger hidden md:block md:z-10 md:relative md:w-[30px] md:h-[18px]"
           [class.active]="mobileMenu" (click)="showMobileMenu()">
        <span></span>
      </div>

    </nav>

    <nav class="header__mobile flex justify-center">
      <div
        class="header__mobile-menu h-0 overflow-hidden flex flex-col justify-center text-2xl gap-5"
        [class.active]="mobileMenu"
      >
        <div *ngFor="let anchor of headerLinks">
          <a *ngIf="currentRout === '/' else anchorsNotMain"
             (click)="scrollPageTo(anchor); showMobileMenu()"
          >
            {{anchor | titlecase}}
          </a>
          <ng-template #anchorsNotMain>
            <a
              [routerLink]='"."'
              [fragment]="anchor"
              (click)="showMobileMenu()"
            >
              {{anchor | titlecase}}
            </a>
          </ng-template>
        </div>

      </div>
    </nav>
  </div>
</div>
